<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" href="design.css"-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/design.css') }}">
    <title>Happy Jars Get</title>

    <style>
        body{
            background-color: #F2D1C9; 
        }
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
    </style>
</head>
<body>
    <form action="index.html">
        <input type="submit" value="Home" />
    </form>
    <img src="{{url_for('static', filename='heart-note.jpg')}}" class = "center">
    <p>get another</p>
</body>
</html>